{% extends "marketplace/base.html" %}

{% block title %}PetPlaza{% endblock %}

{% block content %}
<main>
    <div class="main_img_container">
        <img src="./img/main_background.jpg" alt="">
        <div class="main_title">
            <p>Adopt Your New Friend</p>
        </div>
    </div>
    <div class="pets_container">
        <div class="pet">
            <p>Dog</p>
            <div class="pet_body">
                <div class="pet_body_img"></div>
                <div class="pet_body_text">
                    <p>Dog</p>
                    <p>Price 10$</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}